name: Update docs on pushes to master
"on":
  push:
    branches:
      - master
jobs:
  update_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3
        with:
          node-version: 16
          cache: npm
      - run: npm ci
      - run: npm --prefix ./docs ci ./docs
      - run: npm run build --prefix ./docs -- --prefix-paths
      - uses: maxheld83/ghpages@master
        env:
          BUILD_DIR: docs/public/
          GH_PAT: ${{ secrets.OCTOKITBOT_PAT }}
