name: Update docs on pushes to main
"on":
  push:
    branches:
      - main
jobs:
  update_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.OCTOKIT_APP_ID }}
          private-key: ${{ secrets.OCTOKIT_APP_PRIVATE_KEY }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22 # This version is known working by the docs
          cache: npm
      - run: npm ci
      - run: npm --prefix ./docs ci ./docs
      - run: npm run build --prefix ./docs -- --prefix-paths
      - uses: maxheld83/ghpages@master
        env:
          BUILD_DIR: docs/public/
          GH_PAT: ${{ steps.app-token.outputs.token }}
